* {
    box-sizing: border-box;
}

.navbar-toggler {
    background-color: transparent;
    outline: none;
    border: none;

}

body {
    font-family: "Roboto", sans-serif;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

.container {
    max-width: 100%;
}

header {
    background-color: #D4A373;
}

.font-color {
    color: #FEFAE0;
}

.nav-item{
    display: inline;
}

.cursive {
    font-family: "Playwrite CU", cursive;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media screen and (min-width: 1200px){
    #floral-design img {
        height: 250px;
    }
    #event-decorations img {
        height: 300px;
    }
}

@media screen and (max-width: 1200px){
    .carousel-item img {
        height: 500px;
    }
    #floral-design img {
        height: 120px;
    }
    #event-decorations img {
        height: 200px;
    }
}

@media screen and (max-width: 380px){
    .carousel-item img {
        height: 300px;
    }
    #floral-design img {
        height: 150px;
    }
    #event-decorations img {
        height: 200px;
    }
}

#about-us,
#event-decorations {
    background-color: #FEFAE0;
}

#floral-design,
#contact-us {
    background-color: #D4A373;
}

#floral-design img {
    object-fit: cover;
}

.nav-pills .nav-link.active,
footer {
    background-color: #9cad62;
    color: #FEFAE0;
}


.nav-link:hover,
.nav-link:target {
    color: #FEFAE0;
}

#event-decorations img {
    object-fit: cover;
}

#contact-us textarea {
    height: 120px;
}

.social-links li {
    list-style: none;
    display: inline;
}

form .btn {
    background-color: #9cad62;
    color: #FEFAE0
}





